flask~=3.1.2
flask-socketio~=5.5.1
gevent-websocket~=0.10.1
requests~=2.32.5
websocket-client~=1.8.0
flask-cors~=6.0.1
pyinstaller~=6.15.0
pyopenssl~=25.1.0
pyinstaller~=6.15.0
nanoid~=2.0.0
eventlet~=0.40.3
gunicorn~=23.0.0
python-dotenv~=1.1.1
click~=8.2.1
dotenv~=0.9.9
git+https://github.com/a-j-albert/Js2Py---supports-python-3.13.git
